#{{ ansible_managed }}
server {
	listen        [::]:80;
	listen        80;
	server_name   {{ rdmo_hostnames | join(' ') }};
	gzip          off;
	server_tokens off;
	include       /etc/nginx/snippets/acme-challenges.conf;
	return        302 https://{{ rdmo_canonical_hostname }}$request_uri;
}

{% if (rdmo_alternative_hostnames | count) > 0 %}
server {
	listen              [::]:443 ssl http2;
	listen              443 ssl http2;
	server_name         {{ rdmo_alternative_hostnames | join(' ') }};
	ssl_certificate	    /var/lib/dehydrated/certs/{{ rdmo_canonical_hostname }}/fullchain.pem;
	ssl_certificate_key /var/lib/dehydrated/certs/{{ rdmo_canonical_hostname }}/privkey.pem;
	ssl_stapling_file   /var/lib/dehydrated/certs/{{ rdmo_canonical_hostname }}/ocsp.der;
	gzip                off;
	server_tokens       off;
	include             /etc/nginx/snippets/acme-challenges.conf;
	return              302 https://{{ rdmo_canonical_hostname }}$request_uri;
}

{% endif %}
server {
	listen              [::]:443 ssl http2;
	listen              443 ssl http2;
	server_name         {{ rdmo_canonical_hostname }};
	ssl_certificate	    /var/lib/dehydrated/certs/{{ rdmo_canonical_hostname }}/fullchain.pem;
	ssl_certificate_key /var/lib/dehydrated/certs/{{ rdmo_canonical_hostname }}/privkey.pem;
	ssl_stapling_file   /var/lib/dehydrated/certs/{{ rdmo_canonical_hostname }}/ocsp.der;
	gzip                off;
	server_tokens       off;
	include             /etc/nginx/snippets/acme-challenges.conf;
	
	location / {
		proxy_set_header Host $http_host;
		proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
		proxy_set_header X-Forwarded-Proto $scheme;
		proxy_pass http://unix:{{ rdmo_home }}/rdmo.sock;
	}
	
	location /static/ {
		alias {{ rdmo_home }}/rdmo-app/static_root/;
	}
}

